p{
    color:red;
    text-align: justify;
    font-size: 20px;
}

h1{
    color: blue;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

#texto1{
    color: rgb(19, 19, 154);

}
#texto2{
    color: rgb(34, 139, 34);

}
#texto3{
    color: rgb(10,20,30);
}
.destaques{
    color: rgb(255,0,255);
    font-size: 35;
    font-style: italic;
}


